@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Rosario:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rosario', serif;
  color: "#111827";
    text-transform: uppercase;
  letter-spacing: 0.025em;
}

h1 {
  font-family: 'Rosario', serif;
  font-size: clamp(2rem, 5vw, 3.5rem);    
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #111827;
  margin: 3rem 0 1.5rem;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);    
  line-height: 1.3;
  font-weight: 600;
  margin: 2.5rem 0 1rem;
}

p {
  font-size: clamp(1rem, 2.5vw, 1.125rem); 
  line-height: 1.7;
  margin-bottom: 1.5rem;
}